<% if Sinatra::Application.production? %>
  <div class="ad">
    <script type="text/javascript"><!--
      google_ad_client = "ca-pub-7033544542206385";
      /* Identicons - Home */
      google_ad_slot = "9199563253";
      google_ad_width = 468;
      google_ad_height = 60;
      //-->
    </script>
    <script type="text/javascript"
      src="//pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
<% end %>

