@font-face {
  font-family: "Mosamosa";
  src: url("/font/Mosamosa-v1.1.ttf");
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}
a:hover {
  opacity: 0.7;
}

body {
  text-align: center;
  color: #555;
}

body,
input {
  font-family: "Mosamosa"
}

label {
  cursor: pointer;
}

.editor {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  padding: 35px;
  background: #f0f0f0;
}
.editor .color {
  width: 350px;
  height: 350px;
  background: inherit;
}
.editor a { 
  display: block;
  width: 70px;
  height: 70px;
  float: left;
  background: #f0f0f0;
}
.editor a:hover {
  opacity: 0.6;
}
.editor a.is_fill { 
  background: none;
}
.editor a:hover.is_fill { 
  background: #f0f0f0;
  opacity: 0.2;
}
.editor.grid .color {
  border: 1px solid #777;
}
.editor.grid a {
  width: 68px;
  height: 68px;
  border: 1px solid #777;
}

.option {
  padding: 0;
}
.option li {
  display: inline; 
  padding: 5px;
}
.color_text {
  font-size: 14px;
  border-style: solid;
}

footer {
  color: #777;
  padding: 10px;
}
.copyright {
  font-size: 12px;
}
.thanks {
  font-size: 10px;
}

.recent {
  width: 420px;
  margin: 30px auto 0;
  padding: 0;
}
.recent li {
  display: inline; 
  padding: 5px;
}
.recent img {
  width: 73px;
}

.ad {
  padding-top: 10px;
}
footer .ad {
  padding-bottom: 10px;
}
